version: '3.8'

services:

  postgres:
    image: postgres:15
    container_name: postgres_eske
    restart: always
    environment:
      POSTGRES_USER: eske
      POSTGRES_PASSWORD: eske8
      POSTGRES_DB: kafica_blokadica
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - db-net


  pgadmin:
    container_name: ms_pgadmin
    image: dpage/pgadmin4
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: pgadmin4@pgadmin.org
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
      - "5050:80"
    volumes:
      - pgadmin:/var/lib/pgadmin
    networks:
      - db-net

volumes:
  pgdata:
  pgadmin:

networks:
  db-net:
    driver: bridge